body{
 
    background-color: whitesmoke;

}

.box1 {
    background-color: white;
    
    height: 900px;
    flex: 1 2 auto;

}

.box2 {

    background-color: white;
    
    height: 1500px;
    flex: 1 2 auto;
}

.box3 {

    background-color: white;
    
    height: 200px;
    flex: 1 2 auto;

}

.box4 {

    background-color: white;
    
    height: 200px;
    flex: 1 2 auto;

}

header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
    text-align: center;
    font-size: 70px;
    color: rgb(240, 99, 99);
    

}

.TopParagraph {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    font-size: 20px;
    color: slategray;
    font-style: italic;

}


ul{
    list-style-type: none;
    padding: 5px
}

li{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    font-size: 25px;
    color: rgb(83, 83, 83);
    margin: 5px 5px;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: white;
}

.Navigation{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    font-size: 15px;
    color: grey;
    

}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    font-size: 40px;
    color: rgb(240, 99, 99);
    font-weight: bolder;
    
}

.media-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 15px;

    
}
.media-container .carpmediacontent{
    flex: 1;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 15px;
    color: rgb(83, 83, 83);
    border: blanchedalmond;
    border-width: 5px;
}

.media-container .typomediacontent{
    flex: 1;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    font-size: 15px;
    color: rgb(83, 83, 83);
}


.media-containercarp{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    border: black;
    border-width: 10px;

}


.carpmediacontent{
    flex: 1;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    font-size: 15px;
    color: rgb(83, 83, 83);

}
.footer {
    color: darkcyan;
    background-color: rgb(230, 176, 95);
}